* {
	font-family: roboto condensed;
}

nav {
	background-color: #d0fa00;
	height: 150px;

}

.logo_nav {
	margin-left: 50px;
}


.bg-hero {
	width: 100%;
}

.titulo {
	color: #9c9c9c;
	font-weight: 700;
	text-align: center;
}


#carouselExampleCaptions {
	padding-left: 15%;
	padding-right: 15%;
}

#items h5 {
	background-color: white;
	color: #232424;
	font-weight: 700;
	margin:0;
	padding: 10px;
}

#items p {
	background-color: white;
	color: #232424;
	margin:0;
	padding: 10px;
}

.card-title {
	font-weight: 700;
}
