* {
	font-family: roboto condensed;
}

nav {
	background-color: #d0fa00;
	height: 80px;

}

.logo_nav {
	margin-left: 50px;
}


.bg-hero {
	width: 100%;

}

.titulo {
	color: #9c9c9c;
	font-weight: 700;
	text-align: center;
}

.subtitulo {
	font-size: 12pt;
	text-align: center;
	font-style: italic;
}

#carouselExampleCaptions {
	padding-left: 15%;
	padding-right: 15%;
}

#items h5 {
	background-color: white;
	box-shadow: 2px 7px 7px #9c9c9c;
	color: #232424;
	font-weight: 700;
	margin:0;
	padding: 10px;
}

#items p {
	background-color: white;
	box-shadow: 2px 7px 7px #9c9c9c;
	color: #232424;
	margin:0;
	padding: 10px;
}

.card-title {
	font-weight: 700;
}


footer {
	display: inline-block;
	background-color: #d0fa00;
	width: 100%;
	height: 80px;
}

footer i {
	color: white;
	padding-right: 48%; 
	padding-left: 48%;
	padding-top: 3px;
}

.modal-header {
	background-color: #d0fa00;
	color: #232424;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #232424;
}